html {
  margin: -8px;
  /* overflow-y: hidden */
}

.CardContainer {
  display: inline-block;
  /* block-size: 100px; */
}

.Card img {
  display: flexbox;
  height: 100px;
  border-radius: 8px;
  /* margin: 0px; */
}

.SelectedCardContainer .Card {
  block-size: 100px;
}

@media (max-width: 374px) {
  .CardContainer {
    padding-right: 8px;
  }

  .Card img {
    width: 64px;
  }

  .SelectedCardContainer .Card img {
    width: 72px;
  }
}

@media (min-width: 375px) {
  .CardContainer {
    padding-right: 16px;
  }

  .Card img {
    width: 72px;
  }
}

/* .CardContainer {
  display: inline-block;
  padding-right: 16px;
} */

.CardsContainer {
  background: linear-gradient(
    180deg,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
  padding-left: 20px;
}

/* .selectedCard .HeroName {
  display: none
} */

.SelectedCardContainer {
  display: table-cell;
  position: relative;
  padding-right: 16px;
  /* padding-bottom: 28px; */
  /* overflow-x: scroll; */
}

.SelectedCardContainer .counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  left: 4px;
  bottom: 4px;
  background: #00c35a;
  /* text-align: center; */
  line-height: 24px;
  height: 24px;
  /* text-justify: inter-character; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;

  /* justify-content: center ;
  align-items: center; */
  font-size: 12px;
  color: #ffffff;
}

.Xicon {
  display: none;
}

.SelectedCardContainer:hover .Xicon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background: red;
  right: 8px;
  top: -8px;
  background: #000000;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: white;
}

.searchIcon {
  /* нужно сделать белой */
  position: relative;
  right: 4%;
  color: #ffffff;
  font-size: 18px;
  /* background: red; */
}

.SelectedCardContainer .HeroName {
  display: none;
}

.SelectedCardsContainer {
  background: #2b2d35;
  padding: 40px 20px 28px;
  overflow-x: scroll;
  /* padding-left: 20px;
  padding-bottom: 28px; */
}

.absence {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b4e5c;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #4b4e5c;
}

.nothingFound {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
}

.mainBody {
  background: linear-gradient(
    180deg,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
}

.SearchBar {
  padding: 16px 20px 28px 16px;
}

.SearchBar input {
  padding: 19px 40px 14px 19px;
  max-height: 56px;
  border: 0px;
  width: 83%; /*поправить */
  background: #4b4e5c;
  border-radius: 8px;
  color: #ffffff;
}

.SearchBar ::placeholder {
  color: #ffffff;
}

.Card {
  /* height: 200px; */
  /* padding-left: 0px; */
  /* padding-right: 16px; */
}

/* .Card img {
  display: flexbox;
  height: 100px;
  width: 66px;
  border-radius: 8px;
} */

.Card figcaption {
  left: 0px;
  right: 0px;
  top: 105px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  display: flexbox;
}

.HeroName {
  display: flex;
  justify-content: center;
  width: 65px;
  height: 15px;
  margin-bottom: 20px;
}

.absence {
  position: relative;
  height: 259px;
}

.universe img {
  height: 150px;
  display: table-cell;
}
