html {
  margin: -8px;
  overflow: hidden;
}

.CardContainer {
  display: inline-block;
}

.Card img {
  display: flexbox;
  height: 100px;
  border-radius: 8px;
}

.SelectedCardContainer .Card {
  block-size: 100px;
}

@media (max-width: 375px) {
  .CardContainer {
    padding-right: 8px;
  }

  .Card img {
    width: 64px;
  }

  .SelectedCardContainer .Card img {
    width: 72px;
  }

  .SearchBar input {
    box-sizing: border-box;
    width: 288px;
  }

  .dc img {
    display: inline-block;
    height: 75px;
    width: 120px;
    padding: 14px 21px 7px 28px;
  }

  .marvel img {
    float: right;
    height: 50px;
    width: 111px;
    padding: 24px 40px 22px 0px;
  }
}

@media (min-width: 376px) {
  .CardContainer {
    padding-right: 16px;
  }

  .Card img {
    width: 72px;
  }
  .SearchBar input {
    box-sizing: border-box;
    width: 336px;
  }
  .dc img {
    height: 75px;
    width: 120px;
    padding: 14px 45px 11px 44px;
  }

  .marvel img {
    height: 50px;
    width: 111px;
    padding: 24px 40px 22px 0px;
  }
}

.font-style {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}

.CardsContainer {
  padding-left: 20px;
}

.SelectedCardContainer {
  display: table-cell;
  position: relative;
  padding-right: 16px;
}

.SelectedCardContainer .counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  left: 4px;
  bottom: 4px;
  background: #00c35a;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #ffffff;
}

.Xicon {
  display: none;
}

.SelectedCardContainer:hover .Xicon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background: red;
  right: 8px;
  top: -8px;
  background: #000000;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: white;
  cursor: default;
}

.searchIcon {
  display: inline;
  color: #ffffff;
  font-size: 18px;
}

.SelectedCardContainer .HeroName {
  display: none;
}

.SelectedCardsContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, #555761 -51.19%, #2b2d35 100%);
  padding: 40px 20px 28px;
  overflow-x: auto;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4b4e5c;
}

.absence {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 168px;
  color: #4b4e5c;
  font-size: 18px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, #555761 -51.19%, #2b2d35 100%);
}

.nothingFound {
  height: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
}

.mainBody {
  position: relative;
  height: calc(100vh - 168px);
  background: linear-gradient(
    180deg,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
}

.SearchBar {
  position: relative;
  padding: 16px 0px 28px 16px;
  height: 56px;
}

.SearchBar input {
  padding: 19px 40px 14px 19px;
  box-sizing: border-box;
  height: 56px;
  border: 0px;
  background: #4b4e5c;
  border-radius: 8px;
  color: #ffffff;
}

.SearchBar i {
  position: absolute;
  transform: translate(-36px, 20px);
  color: white;
}

.SearchBar ::placeholder {
  color: #ffffff;
}

.Card figcaption {
  left: 0px;
  right: 0px;
  top: 105px;
  font-size: 12px;
  color: #ffffff;
  display: flexbox;
}

.HeroName {
  display: flex;
  justify-content: center;
  width: 65px;
  height: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.universesContainer {
  display: flex;
}
.universesContainer img {
  opacity: 0.2;
}

.dc img:hover {
  opacity: 1;
}

.marvel img:hover {
  opacity: 1;
}

@media (min-width: 766px) {
  .universesContainer {
    transform: translate(370px, -245px);
  }
  .nothingFound {
    height: 139px;
  }
}
