.CardContainer {
  display: inline-block;
}

.Card {
  height: 200px;
  border-radius: 20px;
  margin: 8px;
}

.HeroName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
